@import "tailwindcss";

:root {
  /* --color-theme-bg: #black; */
}

@theme {
  --font-sans: "Inter", sans-serif;
  --font-mono: "Fira Code", monospace;
  --color-theme-text: #26251e;
  --color-theme-black-0: #26251e;
  --color-theme-text-hover: color-mix(in oklab, #26251e 75%, transparent);
  --color-theme-button-hover-bg: #3b3a33;
  --color-theme-bg: #f7f7f4;
  --color-theme-text: #26251e;
  --color-theme-card-hex: #f2f1ed;
  --color-theme-border: color-mix(in oklab, #26251e 20%, transparent);
  --color-theme-border-05: color-mix(in oklab, #26251e 5%, transparent);

  --shadow-subnav: 0 0 1rem #00000005, 0 0 0.5rem #00000002;
  /* 布局 */
  --button-padding-sm: 0.4rem 0.75rem;
}

@layer base {
  body {
    box-sizing: border-box;
    min-height: 100vh;
  }

  a {
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }
}

@layer components {
  .nav_link {
    @apply text-[#26251e] group-hover/link:text-[var(--color-theme-text-hover)]  hover:text-[var(--color-theme-text-hover)] text-sm;
    padding-inline: 0.75rem;
    padding-block: 0.25rem;
  }
  .subnav_link {
    @apply text-[#26251e] hover:text-[var(--color-theme-text-hover)]  text-sm;
    padding-inline: 0.75rem;
    padding-block: 0.25rem;
  }
  .btn {
    @apply rounded-full bg-theme-black-0  text-theme-bg  text-sm leading-3.5 p-[var(--button-padding-sm)] hover:bg-theme-button-hover-bg cursor-pointer;
  }
  .btn_ghost {
    @apply rounded-full bg-transparent border-theme-border text-theme-text  text-sm leading-3.5 p-[var(--button-padding-sm)] hover:bg-theme-card-hex  border-[1px];
  }
}
@layer utilities {
  .container {
    max-width: 1300px;
    width: 100%;
    /* margin-inline: auto; */
  }
}
